.Card {
  text-align: center;
  box-shadow: 4px 4px 4px #ccc;
  border: 2px solid #222E50;
  background: #007991;
  font-size: 25px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 40px 50px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.Question {
  flex: 1 1 auto;
}

.Options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Option {
  height: 50px;
  background: #E9D985;
  border: 2px solid white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.Option:hover {
  border: 3px solid white;
  padding: 4px;
  color: white;
  text-shadow: 2px 2px #aaa;
}
